{
  "instance": "{{ backrest_instance }}",
  "version": 4,
  "auth": {
    "disabled": false,
    "users": [
      {
        "name": "{{ backrest_admin_user }}",
        "passwordBcrypt": "{{ backrest_admin_password_bcrypt }}"
      }
    ]
  },
  "repos": [
{% for repo in backrest_discovered_repos %}
    {
      "id": "{{ repo.id }}",
      "uri": "{{ repo.path }}",
      "password": "{{ restic_repo_password }}",
      "guid": "{{ repo.guid }}",
      "autoUnlock": true,
      "checkPolicy": {
        "schedule": {
          "cron": "0 5 * * 0",
          "clock": "CLOCK_LOCAL"
        },
        "readDataSubsetPercent": 5
      }
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ],
  "plans": [],
  "hooks": []
}
